body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 794px;
    height: 1123px;
    font-family: 'Raleway', sans-serif;
    padding: 0 16px 0 16px;
}

.divisor {
    width: 70%;
    height: 2px;
    background-color: #CDCDCD;
    border: none;
}

.minor-divisor {
    width: 50%;
    height: 1px;
    background-color: #CDCDCD;
    border: none;
    margin-bottom: -16px;
}

header {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #E1E1E1;
    box-shadow: #CCCCCC;
}

footer {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: #87D1BA;
}

.presentation .name {
    display: flex;
    justify-content: center;
    height: 115px;
    margin-top: -20px;
}

.presentation .name p {
    font-size: 55px;
    font-weight: bolder;
    text-transform: uppercase;
}

.presentation .name #name {
    color: #7E7E7E;
}

.presentation .name #last-name {
    color: #8ACEB9;
}

.presentation .presentation-text {
    text-align: center;
    padding: 5px;
}

.columns {
    display: flex;
}

.left-column {
    height: 100%;
    width: 300px;
    text-align: right;
}

.icon {
    width: 15px;
    height: 15px;
    color: rgb(94, 146, 130);
    text-align: center;
    font-weight: bolder;
}

.contacts p {
    font-size: 12px;
}

.session h4 {
    text-transform: uppercase;
    background-color: #f5f5f5;
    color: #91C7B9;
    text-align: center;
    padding: 12px;
}


.session-item h5 {
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
}

.session-item h6 {
    margin-top: 0px;
    margin-bottom: 7px;
    color: #7E7E7E;
    font-size: 12px;
}

.session-item p {
    margin: 0px;
    font-size: 13px;
}

.session-item ul li {
    font-size: 12px;
}

.speech #speech {
    text-align: center;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: -16px;
}

.itens {
    display: flex;
}

.itens .item {
    margin: auto;
    text-align: center;
}

.itens p {
    font-size: 14px;
}

.speech .item p {
    margin: 0px;
    color: #868686;
    font-size: 12px;
}

.speech .item h5 {
    margin-bottom: 1px;
}

.code {
    margin-bottom: -22px;
}

.code #code {
    text-align: center;
    font-size: 15px;
}

.code p {
    margin-top: -10px;
    margin-right: 10px;
}

.right-column {
    height: 100%;
    width: 450px;
    text-align: left;
    position: relative;
    float: right;
    left: 35px;
}

.skills .item {
    display: flex;
    margin-top: -35px;
}

.skills .item h5 {
    width: 100px;
}

.skills .item .point {
    width: 15px;
    height: 15px;
    border: 1px solid #CDCDCD;
    border-radius: 15px;
    margin-top: 21px;
    margin-left: 12px;
}

.skills .item .fill {
    background-color: #87D1BA;
}

.right-column h4 {
    color: #8DC6B5;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

.timeline-content {
    position: relative;
    width: 90%;
    padding: 1px 15px;
    border-radius: 4px;
    background: #f5f5f5;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}

.timeline-item {
    width: 94%;
    margin-bottom: 5px;
}

.work-xp .session::before {
    margin-top: 5px;
    content: '';
    background: #87D1BA;
    width: 5px;
    height: 55%;
    position: absolute;
    right: 1%;
    transform: translateX(-50%);
}

.timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 22px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
    width: 15px;
    height: 15px;
    background: rgb(108, 167, 148);
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    position: absolute;
    right: 0%;
    margin-top: 25px;
    margin-left: -15px;
}

.calendar {
    font-size: 11px;
    color: rgb(108, 167, 148);
}

.seta-cima:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0; 
    height: 0; 
  
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #87D1BA;
    right: -2.3%;
    position: absolute;
}

.personal-project {
    padding-bottom: 1px;
    border-radius: 10px;
}

.personal-project h5 {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0px;
}

.personal-project p {
    text-align: center;
    font-size: 11px;
    margin-top: 2px;
}

.personal-project .link {
    color: rgb(73, 168, 138);
    text-decoration: underline #87D1BA;
}

.page-divider {
    margin-top: 32px;
}